@import "mixins";

:root {
  --color-very-dark-blue: #0f1424;
  --color-dark-blue: #1c1f4a;
  --color-desaturated-blue: #5646e9;
  --color-pale-blue: #bdc1ff;
  --color-white: #fff;
  --default-padding: 2rem;
  --default-radius: 0.8rem;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
  margin: auto 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
}

/* End CSS Reset */

.container {
  display: grid;
  background: url(../assets/pattern.jpg) var(--color-very-dark-blue);
  background-size: 40rem;
  min-height: 100vh;
  background-blend-mode: difference;
  grid-template-columns: repeat(4, 20rem);
  gap: var(--default-padding);
  align-content: center;
  justify-content: center;
  padding-bottom: var(--default-padding);

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }

  &::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(0.1rem);
  }
}

.card {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: var(--color-dark-blue);
  border-radius: var(--default-radius);
  overflow: hidden;

  &:not(:nth-child(1)) {
    padding: var(--default-padding);

    @media (max-width: 900px) {
      margin: 0 var(--default-padding);
    }
  }

  &:nth-child(1) {
    grid-row: 1/3;
    @include tablet {
      grid-column: 1/3;
      flex-direction: row;
    }

    @include mobile-tablet {
      border-radius: 0;
    }
  }

  & .top {
    background-color: var(--color-desaturated-blue);
    padding: var(--default-padding);

    @include mobile-tablet {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 1rem;
    }
  }
}

.name {
  font-size: 2.6rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.pic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-white);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--default-padding);

  @include tablet {
    flex: 1;
  }

  @include mobile {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.row {
  display: flex;
  flex: 1;
  gap: 0.5rem;
  align-items: center;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.username {
  font-size: 1.2rem;
  font-weight: 300;
}

.title {
  font-size: 2.4rem;
  font-family: 300;
}

.type {
  font-size: 1.2rem;
  font-weight: 400;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rm;
  margin-top: var(--default-padding);
  font-size: 1.2rem;
}

.stack-title {
  font-weight: 300;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.language {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--color-desaturated-blue);
  border-radius: calc(var(--default-radius) / 3);
}
